#*
*$
*.BAK
*.BASE
*.OTHER
*.THIS
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*~
,*
.#*
.DS_Store
.bzr
.del-*
.deployables
.make.state
.nse_depinfo
.~*~
CVS.adm
RCS
RCSLOG
SCCS
_$*
master
src
src/ValidatePDFSignedByDNIe.java
